$color-border: black;
$color-box-1: #bf260a;
$color-box-2: #bada55;
$color-box-3: #b0e0e6;
$color-box-4: #ff69b4;
$color-title: lightgreen;
$color-border-boxes: rgb(148, 46, 46) 1px;
$font-stack: "Roboto Mono", monospace;
